
- 
	var blogList = [
		{
			title: 'A global creative studio based in Saigon, Vietnam',
			category: 'MAGAZINES',
			desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
			img: './img/banner_1.png'
		},
		{
			title: 'A global creative studio based in design trends',
			category: 'BLOGS',
			desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
			img: './img/banner_1.png'
		},
		{
			title: 'A global creative studio based in technology',
			category: 'MAGAZINES',
			desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
			img: './img/banner_1.png'
		},
		{
			title: 'A global creative studio based in art',
			category: 'BLOGS',
			desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
			img: './img/banner_1.png'
		},
		{
			title: 'A global creative studio based in culture',
			category: 'MAGAZINES',
			desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
			img: './img/banner_1.png'
		},
		{
			title: 'A global creative studio based in photography',
			category: 'BLOGS',
			desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
			img: './img/banner_1.png'
		},
	]

mixin BlogCard(item, isExpand)
	.blog-card(class=(isExpand ? 'is-expand' : '') data-category=item.category data-aos="fade-up")
		.img-ratio(class=isExpand ? 'ratio:pt-[529_652]' : 'ratio:pt-[272_315]')
			+PugImg(item.img)
		.content
			.category= item.category
			h3.title
				a(href="./BlogDetail.html")= item.title
			.desc
				p= item.desc
			a.btn-view-more(href="./BlogDetail.html")
				span VIEW MORE
				i.fa-regular.fa-arrow-right-long

+SpaceToTop('space-header')
section.blog-page.section-py
	.blog-tabs
		.container.max-w-full.blog-tabs-inner
			.tab-item.active(data-filter="all")
				a(href="javascript:;") ALL
			.tab-item(data-filter="MAGAZINES")
				a(href="javascript:;") MAGAZINES
			.tab-item(data-filter="BLOGS")
				a(href="javascript:;") BLOGS
	.container.max-w-full
		//- Blog Grid
		.blog-list
			each item, index in blogList
				if index % 4 == 0
					+BlogCard(item, true)
				else
					+BlogCard(item, false)

	script.
		window.blogListData = !{JSON.stringify(blogList)}

		//- Pagination
		//- +Pagination([
		//- 	{ text: '1', href: '#', active: true },
		//- 	{ text: '2', href: '#' },
		//- 	{ text: '3', href: '#' },
		//- 	{ text: '...', href: '#' },
		//- 	{ text: '10', href: '#' },
		//- ])
